#slide1,#slide3,#slide5,#slide7,#slide9,#slide12{
    background-color: black;
}

#slide4,#slide6,#slide8,#slide9,#slide11{
    height: auto !important;
}

#slide8 > .row,
#slide11> .row{
    height: auto !important;
    margin-bottom: 35px;
}

#slide8.colores .card-title{
    font-weight: 800;
}

#slide8.colores .card-text{
    font-weight: 100;
    font-size: 15px;
}

.slide{
    border: 1px solid;
    padding-top: 45px;
}

.slide .container p{
    padding-bottom: 45px;
    font-size: 25px;
    font-weight: 800;
}

.margin{
    margin-top: 45px;
    margin-bottom: 45px;
}

.card .card-body .card-text{
    font-size: 20px;
    font-weight: 800;
}

/* COLORES */
.card.colorprincipal{
    background-color: black;
}

.card.colorprincipal .card-body{
    background-color: white;
    padding: 20px;
    margin: 30px;
    border-radius: 50px;
}

.card.colorsecundario{
    background-color: white;
}

.card.colorsecundario .card-body{
    background-color: white;
    padding: 20px;
    margin: 30px;
    border-radius: 50px;
    border: 1px solid black;
}

.card.colordestacado{
    background: linear-gradient(135deg, hsla(343, 67%, 58%, 1) 0%, hsla(222, 77%, 33%, 1) 100%);
}

.card.colordestacado .card-body{
    background-color: white;
    padding: 20px;
    margin: 30px;
    border-radius: 50px;
}

.card.coloraccion{
    background-color: #ffff78;
}

.card.coloraccion .card-body{
    background-color: white;
    padding: 20px;
    margin: 30px;
    border-radius: 50px;
}

.card.coloralerta{
    background-color: #df7474;
}

.card.coloralerta .card-body{
    background-color: white;
    padding: 20px;
    margin: 30px;
    border-radius: 50px;
}

.card.colorpeligro{
    background-color: #fff3cd;
}

.card.colorpeligro .card-body{
    background-color: white;
    padding: 20px;
    margin: 30px;
    border-radius: 50px;
}

.card.colortexto{
    background-color: black;
}

.card.colortexto .card-body{
    background-color: white;
    padding: 20px;
    margin: 30px;
    border-radius: 50px;
}

.card.colorformulario{
    background-color: #334d68;
}

.card.colorformulario .card-body{
    background-color: white;
    padding: 20px;
    margin: 30px;
    border-radius: 50px;
}
/* COLORES */

.tipografia .card{
    padding: 10px;
}

.tipografia .card .salsa h5{
    font-size: 30px;
    color: #B05CC4;
}

.tipografia .card .instrument h5{
    font-size: 30px;
    color: #43f526;
}

.tipografia .salsa .card-text{
    font-family: 'Salsa', cursive;
    font-size: 25px;
    font-weight: 100;
}

.tipografia .instrument .card-text{
    font-family: 'Instrument Serif', serif;
    font-size: 25px;
    font-weight: 100;
}

.slide .cuadrado{
    width: 100%;
    height: 90%;
    position: relative;
}

.slide .card .salsa h5{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: #774385
}

.slide .card .instrument h5{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: #774385
}

.slide > .container > p{
    font-family: 'Salsa', cursive;
}

.slide .cuadrado p{
    font-family: 'Salsa', cursive;
}

.slide .cuadrado span{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.slide .card-body{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.slide .cuadrado li{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.slide .cuadrado img{
    max-width: 200px;
}


#slide1 #cuadrado1{
    background-color: #334D68; 
}

.slide #cuadrado1 p{
    text-align: center;
    position: relative;
    top: 50%;
    font-size: 25px;
    font-weight: 800;
    color: white;
}

.slide #cuadrado2 p{
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-size: 25px;
    font-weight: 800;
    color: white;
}

.slide #cuadrado3 p{
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-size: 25px;
    font-weight: 800;
    margin-left: 50px;
    color: #334d68;
}

.slide #cuadrado4{
    padding: 60px;
    font-size: 20px;
    padding-top: 150px;
    font-weight: 800;
}

.slide #cuadrado4 ul{
    list-style-type: none;
}

.slide #cuadrado4 p{
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-size: 25px;
    font-weight: 800;
    color: black;
}

.slide #cuadrado6 p{
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-size: 25px;
    font-weight: 800;
    color: white;
    right: 15%;
}

.slide #cuadrado7 p{
    text-align: center;
    position: absolute;
    top: 5%;
    /* margin-top: 15%; */
    font-size: 25px;
    font-weight: 800;
    color: black;
    left: 15%;
}

.slide #cuadrado8 p{
    text-align: center;
    /* position: absolute;
    top: 5%; */
    padding-top: 155px;
    margin-top: 15%;
    font-size: 25px;
    font-weight: 800;
    color: black;
    right: 15%;
}

.slide #cuadrado9 p{
    text-align: center;
    /* position: absolute;
    top: 5%; */
    margin-top: 15%;
    font-size: 25px;
    font-weight: 800;
    color: black;
    left: 15%;
}

.slide #cuadrado10 p{
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-size: 25px;
    font-weight: 800;
    color: white;
    right: 15%;
}

.slide #cuadrado11 p{
    text-align: center;
    /* position: absolute;
    top: 5%; */
    margin-top: 15%;
    font-size: 25px;
    font-weight: 800;
    color: black;
    left: 15%;
}

.slide #cuadrado12 p{
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-size: 25px;
    font-weight: 800;
    color: white;
    right: 15%;
}

.slide #cuadrado13 p{
    text-align: center;
    /* position: absolute;
    top: 5%; */
    margin-top: 15%;
    font-size: 25px;
    font-weight: 800;
    color: black;
    left: 15%;
}

.slide #cuadrado14 p{
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-size: 25px;
    font-weight: 800;
    color: white;
    right: 15%;
}

.slide #cuadrado15 p{
    text-align: center;
    /* position: absolute;
    top: 5%; */
    margin-top: 15%;
    font-size: 25px;
    font-weight: 800;
    color: black;
    left: 15%;
}

.slide #cuadrado16 p{
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-size: 25px;
    font-weight: 800;
    color: white;
    right: 15%;
}

.slide #cuadrado17 p{
    text-align: center;
    /* position: absolute;
    top: 5%; */
    margin-top: 15%;
    font-size: 25px;
    font-weight: 800;
    color: black;
    left: 15%;
}

.slide #cuadrado18 p{
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-size: 25px;
    font-weight: 800;
    color: white;
    right: 15%;
}

.slide #cuadrado19,
.slide #cuadrado20,
.slide #cuadrado21,
.slide #cuadrado22{
    text-align: center;
    padding-bottom: 40px;
}

.slide #cuadrado19 p,
.slide #cuadrado20 p,
.slide #cuadrado21 p,
.slide #cuadrado22 p{
    padding-bottom: 0px;
}

.slide #cuadrado19 img,
.slide #cuadrado20 img,
.slide #cuadrado21 img,
.slide #cuadrado22 img{
    max-width: inherit;
    width: 100%;
    margin-top: 10px;
}

.slide #cuadrado19 p,
.slide #cuadrado20 p,
.slide #cuadrado21 p,
.slide #cuadrado22 p{
    text-align: center;
    /* position: absolute;
    top: 5%; */
    /* margin-top: 15%; */
    font-size: 25px;
    font-weight: 800;
    color: black;
    left: 15%;
}

.slide #cuadrado20 p{
    text-align: center;
    /* position: absolute;
    bottom: 0px; */
    font-size: 25px;
    font-weight: 800;
    color: black;
    /* right: 15%; */
}

.slide #cuadrado21 p{
    text-align: center;
    /* position: absolute;
    top: 5%; */
    /* margin-top: 15%; */
    font-size: 25px;
    font-weight: 800;
    color: black;
    left: 15%;
}

.slide #cuadrado22 p{
    text-align: center;
    /* position: absolute;
    bottom: 0px; */
    font-size: 25px;
    font-weight: 800;
    color: black;
    /* right: 15%; */
}

.slide #cuadrado23 p{
    text-align: center;
    position: relative;
    top: 50%;
    font-size: 25px;
    font-weight: 800;
    color: white;
}